<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrSDgzXcapW1mrkIA1ajIZiwl5Um8UIuo</string>
	<key>GCM_SENDER_ID</key>
	<string>1063603108029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taggedweb.pathlogic</string>
	<key>PROJECT_ID</key>
	<string>pathlogic-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pathlogic-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063603108029:ios:b21858ef2982e7b2545fd4</string>
</dict>
</plist>